
*::-webkit-scrollbar {
  height: 10px;
  background: #1f1f1f;
 
}

*::-webkit-scrollbar-thumb{
  background: #f1f1f1;
  border-radius: 20px;

}

*::-webkit-scrollbar-thumb:hover{
  background: #c0c0c0;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: outfit;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#header {
  backdrop-filter: blur(4px);
}

.anchor {
  color: black;
  position: relative;
  transition: transform 0.2s ease;
}

.anchor::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 0.2s ease;
  transform-origin: bottom;
}



.anchor:hover::after {
  transform: scaleX(1);
}

.icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.3);
}


.img-left {
  border-radius: 2%;
  transition: filter 0.3s ease;
}

.img-left:hover {
  filter: drop-shadow(0rem 0rem 0.8rem #3d5afa) drop-shadow(0rem 0rem 0.2rem #3d6efa);
}

.appear {
  overflow: hidden;
  width: 0;
  animation: appear 10s steps(30) infinite, blinck 1s infinite forwards;
}

.appear-mobile{
  overflow: hidden;
  width: 0;
  animation: appear-mobile 10s steps(30) infinite, blinck 1s infinite forwards;
}

@keyframes appear {
  0% {
    width: 0px;
  }

  18%,82%{
    width: 300px;
  }

  100% {
    width: 0px;
  }
}

@keyframes appear-mobile {
  0% {
    width: 0px;
  }

  18%,82%{
    width: 180px;
  }

  100% {
    width: 0px;
  }
}


@keyframes blinck {
  0% {
    border-right: 1px solid transparent;
  }

  50% {
    border-right: 1px solid white;
  }

  100% {
    border-right: 1px solid transparent;
  }
}

.line {
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, #3063d3, #6630d3);
}

.line-card {
  margin-top: 16px;
  width: 240px;
  height: 1px;
  background: linear-gradient(to right, #3063d3, #6630d3);
}

.barber-pole {
  opacity: 0;
  top: -15px;
  width: 30px;
  height: 4rem;
  border-radius: 40px;
  overflow: hidden;
  border: 5px solid #bbbbbb;
  background: repeating-linear-gradient(45deg,
      white 0 20px,
      red 20px 40px,
      white 40px 60px,
      blue 60px 80px);
  background-size: 100% 113px;
  transition: all 0.5s ease;
  /* Alinea verticalmente con la animación */
  animation: scroll-stripes 1s linear infinite;
}

@keyframes scroll-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 113px;
  }
}

.burger{
  display: block;
  width: 2rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  background-color: #1f1f1f;
  transform: rotate(0deg) translateY(0.80rem);
}

.burger::after,
.burger::before{
  content: '';
  display: block;
  width: 100%;
  height: 0.3rem;
  border-radius: 0.3rem;
  background-color: #1f1f1f;
}

.burger::after{
  transform: rotate(0deg) translateY(0.40rem);
}

.burger::before{
  transform: rotate(0deg) translateY(-0.65rem);
}

.burger-container{
  transition: transform 0.3s ease;
}

.burger-check:checked ~ .burger-container{
  opacity: 0;
  transform: rotate(360deg);
}

.burger-check:checked ~ .barber-pole{
  opacity: 100;
  transform: rotate(360deg);
}

.burger-nav{
  background: #1f1f1f;
  padding-top: 140px;
  transition: transform 0.3s ease;  
  transform: translateX(160px) translateY(-20px);
}

.burger-check:checked ~ .burger-nav{
  transform: translateX(calc(-100vw + 56px)) translateY(-20px);
}



.list {
  display: flex;
  gap: 8px;
  padding: 16px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 50vw;
}


.list::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  width: 100%;
  height: 60vh;
  background-color: #FFF;
  scroll-snap-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: sans-serif;
  font-size: 64px;
  font-weight: bold;
}

.content img{
  height: 100%;
  width: 100%;
}

.button {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  transform: translateY(-50%);
  background: #88aae6;
  border-radius: 50%;
  cursor: pointer;
}

.button:hover{
  background: #697de3;
}

.button--previous {
  left: 1.5rem;
  transform: rotate(180deg);
}

.button--next {
  right: 1.5rem;
}

@media screen and (min-height: 600px) and (max-height: 700px) {
  .list{
    width: 90vw;  
  }
  .button--previous{
    display: none;
  }
  .button--next{
    display: none;
  }

  #contacto > div{
    padding-left: 10px;
  }

  #contacto > div > div > h2{
    padding-right: 20px;
  }

  #contacto > div > div > h3{
    padding-right: 20px;
  }
  #nosotros{
    height: 160vh;
  }
}

@media screen and (min-height: 740px) and (max-height: 950px) and (max-width: 600px){

  .list{
    width: 90vw; 
  }

  .item{
    height: 50vh;
  }
  .button--previous{
    display: none;
  }
  .button--next{
    display: none;
  }

  .main-text{
    padding-top: 280px;
  }

  .service-container{
    height: 35vh;
  }

  #nosotros{
    height: 120vh;
  }

  #contacto > div{
    padding-left: 10px;
  }

  #contacto > div > div > h2{
    padding-right: 20px;
  }

  #contacto > div > div > h3{
    padding-right: 20px;
  }
  .mobile-nav{
    transform: translateY(120px);
  }
}

@media screen and (min-height: 900px) and (max-height: 1440px)  and (min-width: 1281px) {
  .img-init {
    margin-left: 100px;
    margin-right: 200px;
    transform: translateY(90px);
  }
  .text-init{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 300px;
  }
  .button--previous{
    transform: rotate(180deg) translateY(50%);
  }
}

@media screen and (min-width: 1130px) and (max-width: 1610px) and (min-height: 600px) {
  .img-init{
    margin-right: 130px;
  }
  .text-init{
    padding-left: 100px;
  }

  .service-t{
    font-size: 1.2rem;
  }
  .service-d{
    font-size: .9rem;
  }

  #contacto{
    padding-top: 30px;
  }

  .rating-card{
    width: 30vw;
    height: auto;
  }
  .rating-card > p.mb-6{
    margin-bottom: 45px;
  }
  .button--previous{
    transform: rotate(180deg) translateY(50%);
  }
}